<html>
<head>
<title>
{{title}}
</title>
</head>
<body>
  <div id="cpu-graph"></div>
  <div id="memory-graph"></div>
<script id="template" type="x-tmpl-mustache"></script>
<script src='/public/js/bundle.js'></script>
</body>
</html>
